#
# Requirements
#
pyyaml
requests
questionary
ruamel.yaml
configupdater
python-magic

# Custom libraries
git+https://github.com/TortugaLabs/mypielib.git@main
git+https://github.com/aliuly/tcurl.git@main

# QA stuff
ruff
py-cyclo
detect-secrets
