#
# doc generation Requirements
#
docutils
sphinx
myst-parser
sphinx-autodoc2
sphinx-argparse
configupdater

#
# Needed to include things
#
pyyaml
requests
questionary
ruamel.yaml

# Custom libraries
git+https://github.com/TortugaLabs/mypielib.git@main
git+https://github.com/aliuly/tcurl.git@main
